.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 44px;
  width: 641px;
  height: 588px;
}
.bookingFormTitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 527px;
  height: 56px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  color: #101828;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  color: #6c717b;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 527px;
  height: 420px;
}

.group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
}
.field {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;
  background: #f7f7f7;
}

.fieldComment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 18px 308px 76px 18px;
  width: 527px;
  height: 118px;
  background: #f7f7f7;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background: #e44848;
}
.submit:hover {
  background: #d84343;
}

.submitText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.01em;
  color: #fff;
}
